<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>DevelopmentScene</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Es necesario para poder detectar la baliza cuando se activa</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Es necesario para poder detectar la baliza cuando se activa</string>
    <key>NSCameraUsageDescription</key>
    <string>Es necesario para registrar dispositivos con QR</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Es necesario para poder detectar la baliza cuando se activa</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Es necesario para poder detectar la baliza cuando se activa</string>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
        <key>MGLAccuracyAuthorizationDescription</key>
        <string>Please enable precise location. Turn-by-turn directions only work when precise location data is available.</string>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your precise location is used to calculate turn-by-turn directions, show your location on the map, and help improve the map.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Con ello pordrás reportar tu incidencia por voz</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Con ello pordrás reportar tu incidencia por voz</string>
    <key>NSContactsUsageDescription</key>
    <string>Incidencia necesita acceder a su lista de contactos</string>
</dict>
</plist>
